 {% extends "base.html" %}
 {% load static %}
{% load bootstrap4 %}
{% block title %}
Import Accounts
{% endblock title %}
{% block body %}
    <div class="container mt-5 pt-5">
        {% include "includes/alerts.html" %}
    <h1 class="text-center mb-3">Import Accounts from CSV</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control" type="file" name="csv_file" required>
        
        <button class="btn btn-primary mt-3" type="submit">Upload</button>
    </form>
</div>
{% endblock %}
