<!-- templates/transfer.html -->
 {% extends "base.html" %}
 {% load static %}
{% load bootstrap4 %}
{% block title %}
Transfer Funds
{% endblock title %}
{% block body %}
    <section class="section mt-5">
        {% include "includes/alerts.html" %}
        <div class="container">
            <h1 class="title">Transfer Funds</h1>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Transfer</button>
                </div>
            </form>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </section>
    
{% endblock %}
