<!-- templates/transfer.html -->
<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Funds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <section class="section mt-5">
        <div class="container">
            <h1 class="title">Transfer Funds</h1>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Transfer</button>
                </div>
            </form>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
