{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Web Fonts -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Template Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active2{% endif %} " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/transfers/import/' %}active2{% endif %}" href="{% url 'import_accounts'%}">Import Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/transfers/accounts/' %}active2{% endif %}" href="{% url 'list_accounts'%}">All Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/transfers/transfer/' %}active2{% endif %}" href="{% url 'transfer_funds'%}">Transfer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  {% block body %}
  {% endblock body %}


  <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>